  
  <footer class="footer">
    <div class="footer-links">
      <div class="container">
        <div class="top-side flex">
          <div class="brand">
            <img src="assets/images/logo.png" alt="">
          </div>
          <ul class="social-links flex">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </ul>
        </div>
        <nav>
          <ul class="flex">
            <a href="privacy.php">سياسة الخصوصية</a>
            <span>|</span>
            <a>دعوة الأصدقاء</a>
            <span>|</span>
            <a>كيف يعمل بوابة</a>
            <span>|</span>
            <a href="contact.php">إتصل بنا</a>
            <span>|</span>
            <a>التغذية</a>
          </ul>
        </nav>
      </div>
    </div>
    <div class="copyrights">
      <div class="container flex">
        <div>Designed By <a href="https://www.facebook.com/elhoube.brahim" target="_blank">Elhoube Brahim</a></div>
        <div>&copy; <?php echo date('Y'); ?></div>
      </div>
    </div>
  </footer>

  <script src="assets/libs/jquery.min.js"></script>
  <script src="assets/libs/aos/aos.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>