/* ########################## footer ########################## */

.footer {
  background-color: #222;
  flex-shrink: 0;

  .footer-links {
    .top-side {
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      border-bottom: 1px #fff solid;

      .brand {
        height: 50px;
        padding-right: 15px;

        img {
          height: 100%;
          width: auto;
        }
      }

      .social-links {
        a {
          display: block;
          font-size: 2rem;
          padding: 15px;
          transition: 0.3s all ease-in-out;

          &:hover,
          &:active {
            color: #aaa;
          }
        }
      }
    }

    nav {
      padding: 15px;
      ul {
        justify-content: center;

        a {
          padding-left: 15px;
          padding-right: 15px;
          cursor: pointer;
          width: 170px;
          text-align: center;
          color: #fff;

          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .copyrights {
    background-color: #000;
    .container {
      justify-content: space-between;
      align-items: center;
    }
  }
}
